@model IEnumerable<Sistema_Nomina.Models.Datos>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles16.css">
</head>
<H1>AREAS</H1>
<hr />
<form asp-controller="Nomina" asp-action="BusquedaAreas" method="get">
    <label name="nueva_area"><legend>Nueva Area</legend></label>
    <br />
    <input name="nueva_area" placeholder="Nombre del Area">
    <button class="btn btn-outline-dark" type="submit" name="boton" value="1">Agregar</button>
</form>
<form asp-controller="Nomina" asp-action="BusquedaAreas" method="post">
    <fieldset>
        <legend>Busqueda</legend>
        <div>
            <input name="nombre_area" type="text" placeholder="Nombre del Area">
            <button type="submit" class="btn btn-outline-dark">Buscar</button>
        </div>
    </fieldset>
</form>

@if (ViewBag.Error != null && ViewBag.Error != "")
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}
@if (ViewBag.Success != null && ViewBag.Success != "")
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}

@if (ViewBag.baja == true)
{
    <form asp-controller="Nomina" asp-action="BajasAreas" method="post">
        <div class="alert-warning" role="alert">
            Selecciona las areas que deseas dar de baja <br />
            Verifica que no haya ningun empleado asignado en las areas selecionadas, de lo contrario no se eliminaran<br />
            Puedes pasar los usuarios a una area distinta
        </div>
        <div align="right">
            <button class="btn btn-outline-success" type="submit" name="aceptarBaja" value="true">Aceptar</button>
            <a href="@Url.Action("BusquedaAreas", "Nomina", new { baja = false })" class="btn btn-outline-danger" >Cancelar</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre del Area</th>
                    <th>Personal en el area</th>
                    <th>Personal con contrato</th>
                    <th>Personal sin contrato</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style = "background-color: #c4bcaa">
                        <td>
                            <input type="checkbox" name="bajaAreas" value="@item.id_area">
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.nombre_area)</td>
                        <td>@Html.DisplayFor(modelItem => item.CantidadEmpleados)</td>
                        <td>@Html.DisplayFor(modelItem => item.CantidadEmpleadosConContrato)</td>
                        <td>@Html.DisplayFor(modelItem => item.CantidadEmpleadosSinContrato)</td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
}
else
{
    <div align="right">
        <form asp-controller="Nomina" asp-action="BusquedaAreas" method="get">
            <button class="btn btn-outline-primary" type="submit" name="baja" value="true" name="boton" value="2">Dar de baja</button>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre del Area</th>
                <th>Personal en el area</th>
                <th>Personal con contrato</th>
                <th>Personal sin contrato</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.nombre_area)</td>
                    <td>@Html.DisplayFor(modelItem => item.CantidadEmpleados)</td>
                    <td>@Html.DisplayFor(modelItem => item.CantidadEmpleadosConContrato)</td>
                    <td>@Html.DisplayFor(modelItem => item.CantidadEmpleadosSinContrato)</td>
                </tr>
            }
        </tbody>
    </table>
}
